{% extends "blog/base.html" %}
{% block page_header %}
<div class="jumbotron home-tron" >
	<h1 style="color: white;" id="intro" class="display-3"> Welcome to my blog!</h1>
	<p style="color: white; overflow-wrap: break-word;
">Hello, I'm a  Developer who enjoys  exposing others to new or existing technologies.</br> By sharing my thoughts I aim to grow as a developer, and inspire others to learn something new. </br>  Within this blog ou can expect to find learning material, resources, projects, interesting news, and more!</p>
	<a style="color: white;"  class="btn btn-lg call-to-action" href="/topics/">View Discussions </a>


<!-- 	<button  href="/topics/">Topics</button>
 -->

	
</div>
{% endblock page_header %}