{% extends "blog/base.html" %}

{% block page_header %}
<h3>Topic: {{topic}}</h3>
{% endblock page_header %}

{% block content %}


<ul>
	{% for entry in entries %}
	<div  class="vard mb-3" style="background-color: #303773;color: white">
		<h4 class="card-header">
			{{entry.title}}  </br></br>
			{{entry.date_added|date:'M d, Y '}}
		</h4>
		<div class="card-body">
			<p id="topic_text">{{ entry.text|linebreaks }}</p>
		</div>
	</div>
	{% empty %}
	<p> There are no entries for this topic yet.</p>
	{% endfor %}
</ul>
{% endblock content %}